@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@300..700&display=swap');

body {
  margin: 0;
  font-family: "Red Rose", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.wrapper {
  background: #162a63;
  border-radius: 50px;
  box-shadow: 0 4px 9px rgba(0, 0, 0, 0.2);
  padding: 70px;
  text-align: center;
  width: 500px;
  color: white;
  position: absolute;
  top: 80px;
  left: 100px;
  transform: translateX(-50%, 0);
}

.vertical-line {
    width: 2px;
    height: 5px;
    background-color: gray;
}

.wrapper h1 {
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 20px;
  position: relative;
}

.input-group .icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #162a63;
  font-size: 30px;
}

.input-group input {
  width: 100%;
  padding: 10px 0px 20px 50px;
  border-radius: 45px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 15px;
}

input::placeholder {
  color: #162a63;
}

button {
  background: #fff;
  border: none;
  border-radius: 25px;
  color: #162a63;
  padding: 0px 40px;
  cursor: pointer;
  margin-top: 10px;
}

.create-account {
  display: block;
  margin-top: 15px;
  color: white;
  text-decoration: none;
}

.create-account:hover {
  text-decoration: underline;
}
